.AddForm {
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ececec;
    display: flex;
    border-radius: 2px;
    background: #fff;
}

    .AddForm-Input {
        flex: 1 1 0%;
    }

    .AddForm-Button {
        margin-left: 1em;
        flex: 0 0 auto;
        padding: 0.25em 1.5em;
        border: 1px solid #d8d8d8;
        font-size: 14px;
        color: #8c8c8c;
        background: #f8f8f8;
        border-radius: 2px;
        transition: .2s;
    }

        .AddForm-Button:hover {
            border-color: #b0b0b0;
        }

        .AddForm-Button:focus {
            outline: 0;
            border-color: #1cb9ff;
            box-shadow: 0 0 0 3px rgba(28, 185, 255, 0.3);
        }
