.Todo {
    display: flex;
    padding: 0.5em 1em;
    transition: .3s;
}

    .Todo:hover {
        background: #f6f7f8;
    }

    .Todo-StatusIcon {
        flex: 0 0 auto;
    }

    .Todo-Text {
        flex: 1 1 0%;
        padding: .7em 1em 0 0;
        font-size: 14px;
        line-height: 1.4;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    .Todo-Delete {
        margin-top: 0.5em;
        position: relative;
        width: 24px;
        height: 24px;
        flex: 0 0 auto;
        border: 0;
        color: #8c8c8c;
        background: none;
        cursor: pointer;
        transition: .2s;
    }

        .Todo-Delete:hover {
            color: #ec3535;
        }

        .Todo-Delete:focus {
            outline: 0;
            box-shadow: 0 0 0 3px rgba(28, 185, 255, 0.3);
        }

        .Todo-Delete:before,
        .Todo-Delete:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 16px;
            height: 1px;
            background: currentColor;
        }

        .Todo-Delete:before {
            transform: rotate(45deg);
        }

        .Todo-Delete:after {
            transform: rotate(-45deg);
        }

    .Todo--Completed .Todo-Text {
        color: #a0a0a0;
        text-decoration: line-through;
    }
